<!DOCTYPE html>
<html lang="ru" style="height:100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{block title}Default Title{/block}</title>
    <!-- bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" >
    {block styles}{/block}

</head>
<body class="has-background-white-bis is-fullheight is-flex is-flex-direction-column" style="min-height:100%">
    {include 'navbar.latte'}
    
    <div class="container is-max-desktop my-2 px-1" >
        {block content}{/block}
    </div>
    
    {include 'footer.latte'}

</body>
</html>