{layout '../layouts/default.latte'}
{import ../components/button.latte}
{block title}{$title}{/block}

{block content}
    <h1 class="title is-1">Welcome</h1>
    <h2 class="title is-2">{$title}</h2>
    <div >
        {include button, 'Тестовая кнопка'}
        {include button, 'Вторая кнопка', 'secondary' }
    </div>
{/block}

